* {
    margin:0px;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo {
    height: 50px;
    width: 100px;
    margin-right: 3px;
}
.logo {
    background-image: url("AmazonLogo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
    border-radius:3%;
}
.border:hover {
    border: 1.5px solid white;
}
/* Box-2 */
.add-first {
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
/* Box-3 */
.nav-search {
    display:flex;
    /* background-color:#febd68; */
    width: 620px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
/* .nav-search:hover {
    border: 2px solid #febd68;
} */
.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: none;
}
.search-select:hover {
    background-color: #e9e9e9;
    color: black;
}
.search-icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0F1111;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon:hover {
    background-color: #eca13f;
}

.options {
    font-size: 0.75rem;
}
.options:hover {
    background-color: blue;
    color: white;
}
/* Box-4 */
.nav-sign-in {
    height: 45px;
    width: 125px;
    align-content: center;
}
.hlo-sign-in {
    font-size:0.85rem;
    color:#ffffff;
}
.acc-lists {
    font-size:1rem;
    color:#ffffff;
}
/* Box-5 */
.nav-sign-in1 {
    height:45px;
    width:70px;
    align-content: center;
}
/* Box-6 */
.cart-icon i {
    font-size: 30px;
}
.cart-icon {
    font-size: 0.85rem;
    color:#ffffff;
}
/* Panel bar */
.panel {
    height: 39px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
}
.panel-all {
    height: 39px;
    width: 45px;
    color:#ffffff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.panel-options {
    color: #ffffff;
    font-size: 0.85rem;
    display: flex;
}
.options1 {
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
}
.panel-deals {
    color: #ffffff;
    font-size: 0.9rem;
    position: absolute;
    right: 30px;
    height: 39px;
    align-content: center;
    font-weight:700;
    padding-left: 8px;
    padding-right: 8px;
}

/* Hero Section */

.hero-section {
    background-image: url("Pic1.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color:white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}
.hero-msg a {
    color: #007185;
    text-decoration: none;
}
.hero-msg a:hover {
    color: grey;
}

/* Shop Section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
.box {
    /* border: 2px solid black; */
    height: 100px;
    width: 23%;
    height: 385px;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}
.box1-image {
    background-image: url("Gaming.jpeg");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a {
    color:#007185;
    font-size: 0.85rem;
    text-decoration: none;
}
.box-content a:hover {
    color: grey;
}
.Fashion {
    height:150px;
    width:150px;
    margin:2px;
    background-color: white;
}
.top-boxes {
    display: flex;
}
.bottom-boxes {
    display: flex;
}
.box2-image {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.first-pic {
    background-image: url("Dress.jpg");
    height:120px;
    background-size: cover;
    margin-bottom: 5px;
}

/* Text */

.box2-image p {
    color: black;
    size: 0.80rem;
}
.second-pic {
    background-image: url("Knits.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.third-pic {
    background-image: url("Jackets.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.fourth-pic {
    background-image: url("Jewelry.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}

/* Third box */
.first-pic-2 {
    background-image: url("Cleaning Tools.jpg");
    height:120px;
    background-size: cover;
    margin-bottom: 5px;
}
.second-pic-2 {
    background-image: url("Home Storage.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.third-pic-2 {
    background-image: url("Home Decor.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.fourth-pic-2 {
    background-image: url("Bedding.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
/* Fourth box */
.first-pic-4 {
    background-image: url("Jeans.jpg");
    height:120px;
    background-size: cover;
    margin-bottom: 5px;
}
.second-pic-4 {
    background-image: url("Tops.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.third-pic-4 {
    background-image: url("Dresses new.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}
.fourth-pic-4 {
    background-image: url("Shoes.jpg");
    height: 120px;
    background-size: cover;
    margin-bottom: 5px;
}

/* Footer */

.signin {
    height: 150px;
    background-color: white;
    text-align: center;
    padding-top: 55px;
    border-top: 0.1px solid grey;
    border-bottom: 0.1px solid grey;
    margin-top: 20px;
}
.sign-in {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 35px;
    width:100%;
}
.signin-button {
    height: 30px;
    width: 170px;
    background-color: #fedb68;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
}
.signin-button:hover {
    background-color: #f1cd55;
}
.signin-button a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin p {
    margin-top: 15px;
    font-size: 0.85rem;
}
.white {
    height: 20px;
    background-color: white;
}

footer {
    margin-top: 15px;
    background-color:#e2e7e6;
}
.footpanel-1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footpanel-2 {
    background-color:#222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
ul p {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 30px;
}
.footpanel-2 a:hover {
    text-decoration: underline;
}

.footpanel-3 {
    background-color:#222f3d;
    border-top: 0.1px solid white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-new {
    background-image: url("images.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footpanel-4 {
    height:80px;
    background-color:#0F1111;
    color: #dddddd;
    font-size: 0.7rem;
    text-align: center;
}
.last-panel {
    padding-top: 25px;
}
.last-line {
    padding-top: 5px;
}